# Environment & Secrets
.env
.env.local
.env.*.local
*.env

# Build outputs
dist/
dist-ssr/
build/
.vercel
/backups/

# Apps-specific Ignores
apps/api/backups/*.json
apps/api/backups/*.sql
apps/api/dist/

# Dependencies
node_modules/
.tmp/

# OS/Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sln
*.sw?
*.ntvs*
*.njsproj